name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Tp Test
      id: tp-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Tp Test
        setup-command: mvn compile
        command: mvn -B test
        timeout: 10
        max-score: 15
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TP-TEST_RESULTS: "${{steps.tp-test.outputs.result}}"
      with:
        runners: tp-test
